#fileUploadContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#errorMessage {
  color: red;
  margin-top: 10px;
}

#loadingSpinner {
  margin-top: 20px;
}

/* Стиль для незагруженных элементов */
li[data-loaded="false"] {
  background-color: #ffe0e0; /* Красный фон для незагруженных элементов */
}

/* Стиль для загруженных элементов */
.uploaded {
  background-color: #e0ffe0; /* Зеленый фон для загруженных элементов */
}
