/* Переменные */
:root {
  --main-font: Arial, sans-serif;
  --primary-color: #007bff;
  --secondary-color: #323131;
  --text-color: #332e2e;
  --background-color: #fff;
  --color-accent-critical: #e36563;
  --color-accent-main-a: #357de1;
  --color-accent-main-b: #3466ad;
  --color-accent-neutral-hover: #000000;
  --color-accent-notice: #e67046;
  --color-accent-success: #1c9c75;
  --color-accent-warning: #ffb72c;
  --color-background-alternate: #f5f5f5;
  --color-background-default: #ffffff;
  --color-background-glassy-a: rgba(0, 0, 0, 0.06);
  --color-background-glassy-b: rgba(0, 0, 0, 0.12);
  --color-background-glassy-c: rgba(0, 0, 0, 0.25);
  --color-background-highlighted: #edf1f8;
  --color-background-overlay: rgba(0, 0, 0, 0.5);
  --color-background-stroke: #e0e0e0;
  --color-background-widget: #ffffff;
  --color-content-inverted-primary: #ffffff;
  --color-content-inverted-secondary: rgba(255, 255, 255, 0.5);
  --color-content-primary: rgba(0, 0, 0, 0.85);
  --color-content-secondary: rgba(0, 0, 0, 0.5);
  --color-content-tertiary: rgba(0, 0, 0, 0.25);
}
body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#publishButton,
#downloadExcelButton,
#resetFiltersButton,
#showFilesButton {
  max-height: 40px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 14px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

#publishButton:hover,
#publishButton:focus,
#publishButton:active,
#publishButton:active,
#downloadExcelButton:hover,
#downloadExcelButton:focus,
#downloadExcelButton:active,
#resetFiltersButton:hover,
#resetFiltersButton:focus,
#resetFiltersButton:active,
#showFilesButton:hover,
#showFilesButton:focus,
#showFilesButton:active {
  background: var(--secondary-color);
  background-color: var(--secondary-color) !important;
  color: var(--background-color) !important;
}

#resetFiltersButton {
  align-self: flex-end;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
}

/* Стили для select multiple */
.horizontal-select {
  width: 70%;
  max-height: 40px;
  overflow-x: auto;
  padding: 5px;
  margin-right: auto;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

/* Стили для опций внутри select multiple */
.horizontal-select option {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
}

.filter-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 0.65;
  padding: 10px;
  position: sticky;
  top: 50px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

/* Стили для .filter-column */
.filter-column {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 10px 0px 0px 0px;
}

fieldset {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0px;
}

legend {
  font-weight: bold;
  color: var(--secondary-color);
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

select option {
  font-size: 14px;
  padding: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom: 1px solid #f5f5f5;
}

select {
  width: 100%;
  padding: 0px;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  background-color: var(--background-color);
  outline: none;
  height: 100%;
  cursor: pointer;
}

/* Стили для первого option */
.filter-container select[multiple] option:first-child {
  width: 100%;
  position: sticky;
  top: 0;
  right: 100px;
  background-color: var(--background-color);
  box-shadow: 0 30px 20px -30px rgba(65, 51, 83, 0.25);
  border-bottom: 1px solid #f5f5f5;
  color: var(--primary-color);
}

select option:hover,
select option:focus,
select option:active {
  background: var(--secondary-color);
  background-color: var(--secondary-color) !important;
  color: var(--background-color) !important;
}

select option:checked {
  background: linear-gradient(var(--secondary-color), var(--secondary-color));
  background-color: var(--secondary-color) !important;
  color: var(--background-color) !important;
}

#images-container {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  align-self: flex-start;
}

/* Стили для .card и его дочерних элементов */
.card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--background-color);

  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 20px 2px rgba(60, 51, 83, 0.1);
  align-self: flex-start;
  padding: 10px;
  overflow: hidden;
}

/* Добавьте этот стиль, если у вас есть изображения внутри карты */
.card img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.card-description {
  display: flex;
  align-self: center;
}

.card a {
  display: block;
  position: absolute;
  left: 85%;
  bottom: 82%;
  text-align: center;
  color: var(--background-color);
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: border-color 0.3s ease-in-out;
}
.fa-download {
  color: var(--secondary-color);
  transition: border-color 0.3s ease-in-out;
}
.card a:hover .fa-download {
  color: var(--primary-color);
  transition: border-color 0.3s ease-in-out;
}

.card p {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 0px;
  color: var(--secondary-color);
}
/* Ваши существующие стили */

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.previewImage {
  width: 70px;
  height: auto;
}
#progressContainer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#progressBar {
  width: 0%;
  height: 20px;
  background-color: #007bff; /* Цвет полосы прогресса */
  transition: width 0.3s ease-in-out; /* Анимация изменения ширины */
}

#progressText {
  margin-top: 5px;
}
#fileUploadContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#container-name {
  margin-bottom: 20px;
}

#fileUploadContainer ul {
  list-style: none;
  padding: 0;
}

#fileUploadContainer li {
  margin-bottom: 10px;
}

#fileUploadContainer button {
  margin-top: 10px;
}
.not-moved {
  background-color: #ff9999; /* Цвет подсветки */
}

